services:
  authelia:
    image: authelia/authelia:4.39
    container_name: authelia
    user: "$PUID:$PGID"
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authelia.rule=Host(`${AUTHELIA_HOSTNAME?}`)"
      - "traefik.http.routers.authelia.entryPoints=websecure"
      - "traefik.http.routers.authelia.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.authelia.forwardAuth.address=http://authelia:9091/api/authz/forward-auth"
      - "traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader=true"
      - "traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email"
    volumes:
      # - "${DOCKER_LOGS_DIR}/authelia:/var/log/authelia/"
      # - "./secrets:/secrets:ro"
      - "./config:/config"
    depends_on:
      authelia-redis:
        condition: service_healthy
      authelia-postgres:
        condition: service_healthy
    restart: unless-stopped

  authelia-redis:
    image: redis:8.4-alpine
    container_name: authelia-redis
    user: "$PUID:$PGID"
    env_file:
      - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - ${DOCKER_DATA_DIR}/authelia/cache:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
    restart: unless-stopped

  authelia-postgres:
    image: postgres:18-alpine
    container_name: authelia-postgres
    user: "$PUID:$PGID"
    env_file:
      - .env
    volumes:
      - ${DOCKER_DATA_DIR}/authelia/db:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
    restart: unless-stopped
